{% extends 'layout.html' %}
{% block content %}
    <div>
        {% if msg %}
            <h5> {{ msg }}  </h5>
        {% endif %}
        <h1>Add Your Tracker</h1>
        <form action="/addTracker/{{ current_user.user_id }}", method="POST">
            
            <div class="form-group">
                <label>Tracker Name</label>
                <input class="form-control" type="text" name="t_name" required/>
            </div>
            
            <div class="form-group">
                <label>Tracker Description</label>
                <input class="form-control" class="form-control" type="text" name="t_desp" required/>
            </div>
            <script>
                $('select').change(function() {
                    if($(this).val() == 'Multiple Choice') {
                    $('#settings_div').show();
                    }
                });
            </script>
            
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <div class="form-group" >
                <label>Tracker Type</label>
                <select id="t_type" name="t_type" onchange="showHideSettings(this)">
                    <option value="Numeric">Numeric</option>
                    <option value="Multiple Choice">Multiple value</option>
                </select>
            </div>
            
            <div id="settings_div" style="display: none;"  class="form-group" >
                <label><p style="color: red;">If Multiple Choice selected! Please fill all the choices with comma seperated!</p></label><br>
                <label>Settings(Choices)</label>
                <input class="form-control" type="text" name="t_choices" />
            </div>

            <script type="text/javascript">
                showHideSettings = (select) => {
                   if(select.value=="Multiple Choice"){
                    document.getElementById('settings_div').style.display = "block";
                   } else{
                    document.getElementById('settings_div').style.display = "none";
                   }
                } 
            </script>

            <input class="btn btn-primary" type="submit" value="Add Tracker"/>
        </form> <br>
        <a href="{{ url_for('user_trackers', user_id = current_user.user_id ) }}">Go back</a> 
        <br>
        <a href="{{ url_for('home') }}">Go to home</a>
    </div>
{% endblock %}